header {
  z-index: 10;
}

.index_hero {
  position: relative;
  text-align: center;
}

.index_hero img {
  width: 100%;
}

.hero-video {
  width: 100%;
  object-fit: cover;
  padding: 20px;
}

.cta_knap {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.vivid-button {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  display: inline-block;
  margin-top: 1rem;
  color: #333;
  text-decoration: none;
  border: 2px solid #ddc583;
  padding: 0.5rem 1.5rem;
  border-radius: 30px;
  background-color: #ddc583;
}

.vivid-button:hover {
  background-color: #333;
  color: #ffffff;
  border: 2px solid #333;
}
.værkstedet,
.nyheder,
.produkter {
  text-align: center;
  background-color: #e9e0d8; /* Baggrundsfarve for hele kassen */

  overflow: hidden;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Let skygge for dybde */
  padding: 10px;
  margin-top: 20px;
}

.index h1 {
  text-align: center;
  margin-top: 10px;
}

.index1_1_1 p {
  padding-top: 10px;
  text-align: left;
}

@media (min-width: 800px) {
  /*******layout******/
  .index1_1_1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    padding: 20px;
  }

  .index1_1_1 img {
    margin-bottom: 10px;
    height: 300px; /* Ens højde for alle billeder */
    object-fit: cover;
  }

  /*******styling******/
  .værkstedet,
  .nyheder,
  .produkter {
    text-align: center;
    background-color: #e9e0d8; /* Baggrundsfarve for hele kassen */
    overflow: hidden;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Let skygge for dybde */
    padding: 10px;
  }
}

@media (max-width: 800px) {
  .index_hero {
    height: 700px;
    overflow: hidden;
  }

  .index_hero video {
    object-fit: cover;
    align-self: stretch;
    height: 100%;
  }

  .cta_knap {
    top: 90%;
  }
}
