.newsletter-form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
}
.newsletter-form h2 {
  margin-bottom: 15px;
}
.newsletter-form label {
  display: block;
  margin-bottom: 5px;
}
.newsletter-form input[type="text"],
.newsletter-form input[type="email"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
}
.newsletter-form button {
  display: block;
  width: 100%;
  padding: 10px;
  transition: background-color 0.3s ease;
  background-color: #ddc583;
  color: #fff;
  border: none;
  cursor: pointer;
}
.newsletter-form button:hover {
  background-color: #202124;
}

label {
  font-family: "Inria Sans", serif;
}

.inria {
  font-family: "Inria Sans", serif;
}

.centertext {
  text-align: center;
}

.air {
  height: 4vh;
  width: 100%;
}

.air8 {
  height: 8vh;
  width: 100%;
}

.airbig {
  height: 150vh;
  width: 100%;
}

#heroimg {
  height: 700px;
  width: 100%;
  overflow: hidden;
  z-index: -1;
  position: relative;
}

.endele {
  margin-top: auto;
}

.width100 {
  width: 100%;
}

.width70 {
  width: 70%;
}

.flex {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.section {
  background-color: #f6f3ef;
  padding: 2rem;
  height: auto;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.newsimg {
  height: 100%;
  overflow: hidden;
}

.newsimg img {
  object-fit: cover;
  align-self: stretch;
  height: 100%;
}

@media (max-width: 800px) {
  .width70 {
    width: 95%;
  }
  .section {
    display: grid;
  }
  .newsimg {
    height: 340px;
    order: -1;
    margin-bottom: 2rem;
  }

  #heroimg {
    display: grid;
  }
  #heroimg dotlottie-player {
    scale: 6;
    align-self: center;
  }
}

@media (min-width: 800px) {
  .grid_3-1 {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 20px;
  }
  .grid_1-3 {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 20px;
  }
  .lotscale {
    scale: 1.7;
  }
}

/**********************************  HERO - VIVID SECTION ***********************************/

/* Vivid Section Styling */
.vivid-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 2rem;
  padding: 3rem 5%;
  background-color: #f0f9ff;
}

/* Vivid Text Content Styling */
.vivid-text {
  padding: 1rem;
  text-align: left;
}

.vivid-subtitle {
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 2px;
  color: #d5d5d5;
}

.vivid-title {
  font-family: "Playfair Display", serif;
  font-size: 42px;
  margin: 0.5rem 0;
  color: #ddc583;
}

.vivid-description {
  font-size: 16px;
  line-height: 1.6;
  color: #333;
}

.vivid-button {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  display: inline-block;
  margin-top: 1rem;
  color: #333;
  text-decoration: none;
  border: 2px solid #333;
  padding: 0.5rem 1.5rem;
  border-radius: 30px;
  transition: all 0.3s ease;
}

.vivid-button:hover {
  border: 2px solid #ddc583;
  background-color: #ddc583;
  color: #ffffff;
}

.text-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white; /* Juster tekstfarven efter behov */
  font-size: 37px; /* Juster størrelsen på teksten */
  font-weight: bold;
  text-align: center;
  font-style: normal;
}

.line1 {
  font-size: 3vw; /* Skriftstørrelse baseret på viewport-bredde */
  font-weight: bold;
  margin: 0;
}

.line2 {
  font-size: 4vw;
  margin: 0;
  opacity: 0.8; /* Gennemsigtighed */
}

@media (max-width: 800px) {
  .line1 {
    font-size: 15vw; /* Skriftstørrelse baseret på viewport-bredde */
    font-weight: bold;
    margin: 0;
  }

  .line2 {
    font-size: 10vw;
    margin: 0;
    opacity: 0.8; /* Gennemsigtighed */
  }
  .text-overlay {
    width: 100%;
  }
}
